body
{
    text-align: center;
    background-color: brown;
}
.line
{
    height: 6px;
    background-color: aqua;
    width: 70px;
    margin: 8px auto;
}
h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 300;
}
#myCarousel img 
{
   height:300px;
   margin-top:35px;
}
.carousel-inner
{
    margin-top: 15px;
    font-size: 22;
    color:white;
}
#myCarousel
{
    background-color: aqua;
}